{% extends "store/base.html"%}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcom to Our E-commerce</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p style="text-align: left;">
                    <br><br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras imperdiet vel libero sed consequat. Pellentesque habitant morbi tristique senectus 
                    et netus et malesuada fames ac turpis egestas. Nulla vitae dui ultricies, volutpat tortor sed, facilisis ex. Proin quam nulla, dictum et orci eu, 
                    dictum sodales nisi. Quisque molestie tempus ligula eu pharetra. Integer consequat purus vitae metus mollis consectetur. Morbi sodales ligula ut 
                    ligula eleifend, in rutrum augue molestie. Aenean euismod dolor id tempor sollicitudin. Ut mattis euismod sapien, at dapibus sapien. Sed in vulputate arcu. 
                    Sed id tincidunt velit. Nulla auctor fermentum purus at interdum. Mauris nec eleifend ipsum, ac ornare mauris. Nam eget euismod est, ac tempus ante.
                    <br><br>
                    Nunc vel augue vitae ante condimentum placerat in ac purus. Maecenas non eleifend nisi. Vivamus consequat in leo ut hendrerit. Etiam et eros ante. 
                    Sed sagittis eros eget sapien accumsan, ut sollicitudin ligula tincidunt. Cras dapibus purus leo, sit amet dignissim tellus egestas id. Nulla facilisi. 
                    Maecenas vestibulum sem dolor, ac rutrum massa ullamcorper ac. Duis ultricies lectus tempor enim hendrerit condimentum.
                    <br><br>
                    Vivamus ut odio augue. Vivamus lobortis, diam ac mattis congue, dolor ex egestas felis, vel interdum elit sem et nisl. Etiam ut porta velit. Quisque quis 
                    dolor fermentum, pulvinar tellus vitae, iaculis ex. Sed luctus magna ligula, id suscipit mi ultrices vel. Mauris ornare ornare mauris at dictum. Vivamus 
                    tortor leo, dapibus a neque sit amet, varius fermentum massa. Cras iaculis, massa vehicula finibus posuere, lacus eros efficitur dolor, quis efficitur nisl 
                    tortor at mauris. Nulla ornare purus a malesuada feugiat. Quisque eu sagittis enim, et euismod ex. Aenean volutpat eget dolor id tincidunt. Mauris gravida 
                    erat in tortor aliquet, sed molestie ex vestibulum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    <br><br>
                </p>
            </div>
        </center>
    </div>
</div>
{% endblock %}