{% extends "store/base.html"%}
{% block content %}

<div class="container d-flex justify-content-center align-items-center my-4">
    <div class="card mb-3" style="max-width: 800px; width: 100%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{product.image.url}}" class="img-fluid rounded-start h-100 object-fit-cover" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body p-4">
                    <h5 class="card-title fs-3 mb-3">{{product.name}}</h5> 
                    <p class="card-text fs-5">Description: {{product.description}}</p>
                    {% if product.is_on_sale %}
                    <!-- sale stars -->
                    <div class="d-flex small text-warning mb-2">
                        <div class="bi-star-fill"></div>
                        <div class="bi-fill">&nbsp;Sale&nbsp;</div>
                        <div class="bi-star-fill"></div>
                    </div>
                    <!-- Product price-->
                    Price: <span class="text-muted text-decoration-line-through">${{ product.price }}&nbsp;</span>
                    ${{ product.sale_price }}
                    {% else %}
                    Price: ${{ product.price }}
                    {% endif %}

                    <div class="row align-items-center mb-3">
                      <div class="col-auto">
                        <label for="quantity" class="form-label mb-0">Quantity:</label>
                      </div>
                      <div class="col-auto">
                          <select class="form-select" id="product-qty">
                              <option selected>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                          </select>
                      </div>
                  </div>

                  <div class="mt-3">
                    <a class="btn btn-secondary" href="{% url 'home' %}">back</a>
                    <button class="btn btn-secondary" type="button" value="{{product.id}} " id="add-cart">Add to Cart</button>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // check if button is pressed 
    $(document).on("click", "#add-cart", function(e){
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: "{% url 'cart_add' %}",
      data: {
        product_id: $("#add-cart").val(),
        product_qty: $("#product-qty option:selected").text(),
        csrfmiddlewaretoken: "{{ csrf_token }}",
        action: "post",
      },
      success: function(json){
        // console.log(json);
        document.getElementById("cart-quantity").textContent = json.qty
        location.reload()
      },
      error: function(xhr, errmsg, err) {},
    });
  })
</script>
<br>
<br>
<br>

{% endblock %}
