{% extends "store/base.html" %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Login ...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Login to your account ...</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="post" class="form">
                {% csrf_token %}
                <div class="mb-3">
                    <input class="form-control" type="text" name="username" id="username" autofocus placeholder="Enter Your username..">
                </div>
                <div class="mb-3">
                    <input class="form-control" type="password" name="password" id="password" placeholder="Enter Your password..">
                </div>
                <div style="margin-bottom: 20px;">
                    <p style="display: inline;">Forget Your password?</p>
                    <a href="{% url 'reset_password' %}" style="text-decoration: none;">Reset password</a>
                    <br>

                </div>
                <input class="btn btn-secondary d-block mx-auto" type="submit" value="Login">
            </form>
        </div>
    </div>
</div>

{% endblock %}