{% extends "store/base.html" %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Rest Password ...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Enter your Email ...</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="post" class="form">
                {% csrf_token %}
                <div class="mb-3">
                    <input class="form-control" type="email" name="email" id="email" placeholder="Enter Your email.." value="{{form.input}}" autofocus>
                    <input class="btn btn-secondary d-block mx-auto" type="submit" value="Enter your Email" style="margin-top: 20px;">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}