{% extends "store/base.html" %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Confirm Resting Password ...</h1>
            <p class="lead fw-normal text-white-50 mb-0">reset your password ...</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="post" class="form">
                {% csrf_token %}
                <div class="mb-3">
                    <input class="form-control" type="password" name="new_password1" autocomplete="new-password" aria-describedby="id_new_password1_helptext" id="id_new_password1" placeholder="Enter your new password..." autofocus>
                </div>
                <div class="mb-3">
                    <input class="form-control" type="password" name="new_password2" autocomplete="new-password" aria-describedby="id_new_password2_helptext" id="id_new_password2" placeholder="comfirm your new password...">
                </div>
                <input class="btn btn-secondary d-block mx-auto" type="submit" value="Update your password" style="margin-top: 20px;">
            </form>
        </div>
    </div>
</div>

{% endblock %}