{% extends "store/base.html" %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Update Info ...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Update your profile info ...</p>
        </div>
    </div>
</header>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form class="form" method="POST">
                    {% csrf_token %}
                    <strong>Billing Info</strong>
                    <br><br>
                    {{form}}
                    <strong>Shipping Info</strong>
                    <br><br>
                    {{ shipping_form }}
                    <!-- {% for field in form %}
                        <div class="mb-3">
                            {{ field }}
                        </div>
                    {% endfor%} -->
                    <input class="btn btn-primary d-block mx-auto" type="submit" value="Update Now">
                    </div>
                </form> 
            </div>
        </div>
    </div>
    
{% endblock %}